<h1>All Users</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</thh>
    <th>User Type</th>
  <tr>
    <tbody class="tbody">
    </tbody>
</table>

<script src="/js/admin.js"></script>
