<div class="col-md-4"></div>
<div class="col-md-4">
  <label>Coaching Date</label>
  <input class="form-control" type="text" placeholder="Date" id="date-input">
  <label>Coaching Time</label>
  <input class="form-control" type="text" placeholder="Time" id="time-input">
  <button class="btn btn-primary" type="submit" id="coach-submit">Submit</button>
</div>
<script src="js/schedule.js"></script>
