
      <div class="text-center">


      <h1>New Maker</h1>
      <input type="email" placeholder="Email"class"form-inline" id="createEmailInput"/><br />
      <input type="password" placeholder="Password" class"form-inline" id="createPasswordInput"/><br />
      <input type="text" placeholder="First Name" class"form-inline" id="createFirstNameInput"/><br />
      <input type="text" placeholder="Last Name" class"form-inline" id="createLastNameInput"/><br />
      <input type="text" placeholder="Age" class"form-inline" id="createAgeInput"/><br />
      <button type="submit" class="btn btn-primary" id="newUser">Submit</button>

      <h1>Returning Maker</h1>
      <input type="email" placeholder="Email" class="form-inline" id="loginEmailInput">
      <input type="password" placeholder="Password" class="form-inline" id="loginPasswordInput">
      <button type="submit" class="btn btn-primary" id="loginUser">Submit</button>

</div>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
      <script src="js/auth.js"></script>
