
  <input type="email" id="email-input"/>
  <input type="password" id="password-input"/>
  <button type="submit" id="login">Login</button>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
  <script src="js/auth.js"></script>
