<div class="col-md-4"></div>
<div class="col-md-4">
  <input class="form-control" type="email" placeholder="Email" id="email-input">
  <input class="form-control" type="text" placeholder="First Name" id="firstName-input">
  <input class="form-control" type="text" placeholder="Last Name" id="lastName-input">
  <input class="form-control" type="text" placeholder="Date" id="date-input">
  <input class="form-control" type="text" placeholder="Time" id="time-input">
  <button class="btn btn-primary" type="submit" id="training-submit">Submit</button>
</div>


<script src="/js/training.js"></script>
