<h1 class="center">Makerspace Liablility Waiver</h1>
<div class="container">
<div class="row">
  <div class="alert alert-danger"><strong>Caution! </strong>This page is for people <strong>18 years or older.</strong> If you are younger, please get your parent to fill this out.</div>
  <div class="alert alert-success"><strong>Required! </strong> You <strong>MUST</strong> read all of the following before you sign</div>

<p>
I am fully aware that participation in the Makerspace Program may result in personal injury or harm to myself or my child. I herby agree and hold harmless the Westport Library Association its,
officers, employees, volunteers, committees and boards, from and against an and all liability, loss, damages, claims, or actions (including costs and attorney fees) for bodily injury and/or property damage,
to the extent permissible by law
<br>
<br>
This indemnification and hold harmless agreement shall include indemnity against all costs (including without limitation, reasonable attorney's fees and court costs), expenses and liabilities incurred in or
in connection with any such claim or proceeding brought thereon and in defence thereof.
<br>
<br>
I have read and understood this release, indemnification and hold harmless form. I voluntarily sign it and hereby give permission to the Westport Library Assosiaction for emergency transportation and/or treatment
 in the event of illness or injury. I hereby accept responsibility for the payment of any emergency transpportation and/or treatment. I further certify that I or my child is in good physical condition, and has no
  medical or physical condtions that would restrict his/her participation in this activity or program.
</p>
</div>
</div class="container">
<div class="container">
<form>
<input placeholder="Name/Name of Parent/Legal Guardian">
<input placeholder="Date">
<input placeholder="Address">
<input placeholder="City">
<input placeholder="State">
<input placeholder="Zip">
<input placeholder="Email Address">
<input placeholder="Telephone Number">
<input placeholder="Name of children (If aplicable)">
</form>

<canvas class="signature center" height="500px" width="700px"></canvas>
<button class="clear">Clear</button>
<div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="/js/waiver.js"></script>
